<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CacheInfo</title>
</head>
<body>
<div class="top">
    <br/>
    <a href="login">Re-Login</a> <br/> <a href="cache">refresh</a>
</div>
<table border="3" style="height: 365px; margin-left: auto; margin-right: auto;" width="673">
    <tbody>
    <tr>
        <td style="width: 328px;"><b>Property</b></td>
        <td style="width: 329px;"><b>Value</b></td>
    </tr>
    <tr>
        <td style="width: 328px;">Cache size</td>
        <td style="width: 329px;">${size}</td>
    </tr>
    <tr>
        <td style="width: 328px;">TIME_THRESHOLD_MS</td>
        <td style="width: 329px;">10</td>
    </tr>
    <tr>
        <td style="width: 328px;">Idle Time</td>
        <td style="width: 329px;">${it}</td>
    </tr>
    <tr>
        <td style="width: 328px;">Life Time</td>
        <td style="width: 329px;">${ife}</td>
    </tr>
    <tr>
        <td style="width: 328px;">Is eternal (true/false)</td>
        <td style="width: 329px;">${iseternal?c}</td>
    </tr>
    <tr>
        <td style="width: 328px;">Hit Count</td>
        <td style="width: 329px;">${hit}</td>
    </tr>
    <tr>
        <td style="width: 328px;">Miss Count</td>
        <td style="width: 329px;">${miss}</td>
    </tr>
    <tr>
        <td style="width: 328px;">Percent</td>
        <td style="width: 329px;">${percent}</td>
    </tr>
    </tbody>
</table>
</body>
</html>